
<div class="jumbotron p-5">
<h1 class="display-4 text-white ">Bonjour, bienvenue sur EventBright</h1>
<p class="lead text-white">Pour ceux qui adorent sortir.</p>
<div class="d-flex flex-wrap justify-content-center my-3">
    <button class="btn btn-outline-warning btn-lg"><%= link_to 'Nos événements', event_index_path %></button>
</div>
</div>


